<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="height: 400px; min-width: 310px; max-width: 600px; margin: 0 auto"></div>

<script type="text/javascript">
let databub = {
  chart: {
      type: 'bubble',
      plotBorderWidth: 1,
      zoomType: 'xy'
  },
  legend: {
      enabled: false
  },
  title: {
      text: 'Personality Scatter'
  },
  xAxis: {
    gridLineWidth: 1,
    ceiling: 100,
    floor: 0,
    plotLines: [{
      color: 'black',
      dashStyle: 'dot',
      width: 2,
      value: 50,
      zIndex: 3
    }]
  },
  yAxis: {
    startOnTick: false,
    endOnTick: false,
    ceiling: 100,
    floor: 0,
    maxPadding: 0.2,
    plotLines: [{
      color: 'black',
      dashStyle: 'dot',
      width: 2,
      value: 50,
      zIndex: 3
    }]
  },
  tooltip: {
    useHTML: true,
    headerFormat: '<table>',
    pointFormat: '<tr><th colspan="2"><h3>{point.country}</h3></th></tr>' +
      '<tr><th>Fat intake:</th><td>{point.x}g</td></tr>' +
      '<tr><th>Sugar intake:</th><td>{point.y}g</td></tr>' +
      '<tr><th>Obesity (adults):</th><td>{point.z}%</td></tr>',
    footerFormat: '</table>',
    followPointer: true
  },
  plotOptions: {
    series: {
      dataLabels: {
        enabled: true,
        format: '{point.name}'
      }
    }
  },
  series: [{
    data: [
      { x: 15.6, y: 12, z: 50, name: 'INA', country: 'Indonesia' },
      { x: 68.6, y: 20, z: 16, name: 'RU', country: 'Russia' },
      { x: 65.4, y: 50.8, z: 28.5, name: 'HU', country: 'Hungary' },
      { x: 63.4, y: 51.8, z: 15.4, name: 'PT', country: 'Portugal' },
      { x: 64, y: 82.9, z: 31.3, name: 'NZ', country: 'New Zealand' }
    ]
  }]
}
console.log(databub.series[0].data[0]);
// var html = new EJS({url: 'cleaning.ejs'}).render(databub);
// document.getElementById("container").innerHTML = html;

$(function () { Highcharts.chart('container', databub)});

</script>
