<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="radarcontainer" style="margin: 0 auto"></div>
<script type="text/javascript">
Highcharts.chart('radarcontainer',  <%- JSON.stringify(data) %>)
</script>
