<% include partials/header %>
    <h1>Selamat Datang di Personality Checker</h1>
    <br>
    <br>
    <form class="" action="/register" method="post">
      <fieldset>
        <legend>Registration Form:</legend>
        Name:<br>
        <input type="text" name="name"><br>
        Password:<br>
        <input type="text" name="password"><br><br>
        <input type="submit" value="Register">
      </fieldset>
    </form>
<% include partials/footer %>
