<% include partials/header %>
  <h1><%= result %></h1>

  <form method="get" action="/main2">
      <button type="submit">Continue</button>
  </form>
<% include partials/radar %>
<% include partials/footer %>
