<% include partials/header %>
<h1>Your Result Test : </h1>
<% include partials/radar %>
  <form method="get" action="/compare">
      <button class="btn btn-default" type="submit">Compare Your Result</button>
  </form>
<% include partials/footer %>
