<% include partials/header %>


  <h1><%= result %></h1>
  <canvas id="radarChart" width="640" height="400"></canvas>
  <form method="get" action="/main2">
      <button type="submit">Continue</button>
  </form><% include partials/footer %>
