body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
  width:500px;
}

#registerForm .form-control-feedback {
    top: 0;
    right: -15px;
}

.footer {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.highcharts-tooltip h3 {
    margin: 0.3em 0;
}

.highcharts-background {
  height: 1000px !important
}
